.header {
  position: relative;
  z-index: 1;
  display: grid;
  grid-template-columns: 1fr min-content;
  padding: var(--section-padding, 20px 40px);
}

.text-content {
  padding: var(--section-padding, 20px 40px);
}

.icons {
  padding: var(--section-padding, 20px 40px);
}

.icons__text-wrapper {
  margin-block-end: 1em;
}